<footer class="footer mt-auto">
    <div class="footer-container container-fluid">
        <p class="copyright">
            <a href="carringtoncaringcorp.com/index.html">
                Designed by Carrington's Caring Corp. &copy;2022.</a>
        </p>
        <hr>
        <p>
            <a href="https://www.freecodecamp.org/jj_phoenix">FreeCodeCamp</a>
            |
            <a href="https://github.com/nix24">Github</a>
            |
            <a href="https://nix24.github.io/">Github.io</a>
            |
            <a href="https://www.codecademy.com/profiles/JaylonC">CodeAcademy</a>
            |
            <a href="https://www.linkedin.com/in/jaylon-carrington-07b924211/">LinkedIn</a>
            |
            <a href="https://jsfiddle.net/user/JayJ/fiddles/">JSFiddle</a>
            |
            <a href="https://webpages.charlotte.edu/jcarrin4/">Charlotte.edu</a>
        </p>
        <p>
            <a href="https://validator.w3.org/check?uri=referer">
                <img src="images/html.png" alt="HTML5" />
            </a>
            |
            <a href="https://jigsaw.w3.org/css-validator/check/referer">
                <img src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!" />
            </a>
        </p>
    </div>
</footer>