* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*use profesional fonts*/
  font-family: 'Roboto', sans-serif;
}
body {
    overflow-y: auto;
}
html, body {
  font-family: "Roboto", sans-serif;
  color: #eddef1;
  background-color: #deebf7;

}



.container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
a {
  text-decoration: none;
  color: #ecf7f7;
  font-weight: 500;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: #1b155c;
  padding: 16px;
}

.logo-border {
  border: #ecf7f7 solid 2px;
  padding: 5px;
  border-radius: 30px;
}
#logo {
 padding: 5px;
}
.logo-border:hover {
  /*change the color of the border when hovered over*/
  border: #8264a5 solid 2px;
  transition: all 0.35s;
}
.menu {
  display: flex;
  flex: 1 1 0%;
  justify-content: flex-end;
  margin: 0 -16px;
}
.menu a {
  margin: 0 16px;
  transition: 0.35s;
  padding: 10px 20px;
  border-radius: 10px;
}

.menu a.current,
.menu a:hover {
  background-color: #8264a5;
}

footer {
  flex: 0 0 50px;
  margin-top: auto;
  background-color: #1b155c;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-row {
  margin-bottom: 20px;
  list-style: none;
  justify-content: center;
}
.flex-row li {
  display: inline-block;
  margin: 0 10px;
}

.copyright {
  text-align: center;
}

.about {
  background-color: #1b155c;
  /*center text*/
  text-align: justify;

  /*padding*/
  padding: 20px;
}

/*intro class will be a backgeoud url of from image file*/
.intro {
  background-image: url(/images/tech-headphones.jpg);
  font-size: 3rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 80vh;

  


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*make margin so intro is right below navbar*/
  margin-top: 95px;
}

/*using flexbox, put each point into seperate column*/
.info-columns {
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-header {
  margin-top: 100px;
  color: #1b155c;
  padding: 50px;
  
}
.about-header h1 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}
.about-header p {
  padding-left: 20px;
  padding-right: 20px;
  
  font-size: 1.5rem;
  text-align: center;
  justify-content: center;
}

.about-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;  
}

.block {
  width: 30%;
  padding: 20px;
  margin: 20px;
  background-color: #1b155c;
  color: #ecf7f7;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #452d6d;
}

