html,
body {
  margin: 0;
  position: relative;
  height: 100%;
  font-family: "Roboto", sans-serif;
  background-color: #fde5cc;
  color: #3d0312;
}
#home-page {
  background-image: url("../images/cafe-home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

#itis {
  font-size: 15px;
  text-align: justify;
  padding: 3px;
  color: #fde5cc;
}

#about-page {
  overflow: auto;
  justify-content: left;
}

#contract-page {
  overflow: hidden;
  font-size: 15px;
  text-align: justify;
}

#container {
  position: relative;
  min-height: 100vh;
}
#content-wrap {
  padding-bottom: 2.5rem;
}

.section-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}
.section-1 input {
  border: none;
  border-bottom: #2e0606 solid 1px;
  background-color: transparent;
}
select {
  border: none;
  border-bottom: #2e0606 solid 1px;
  background-color: transparent;
}
/*Whenhovering over reason, highlight it with animation*/
select:hover {
  background-color: #2e0606;
  color: #ffcc99;
  transition: 0.3s;
}

.form-container {
  text-align: center;
  padding-left: 3rem;
  padding-right: 3rem;
}

.navbar-top {
  background-color: #5c0b21;
  overflow: hidden;
  top: 0;
  position: sticky;
  width: 100%;
  z-index: 1;
}
.navbar-top a {
  float: right;

  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color: #f3dfc8;
}
.navbar-top a.logo {
  float: left;
}

/*when hovering over links, links turn colors with an animation.*/
.navbar-top a:hover {
  background-color: #2e0606;
  color: #ffcc99;
  transition: 0.3s;
}

.navbar-top a.current {
  color: #ffcc99;
}

header {
  font-size: 1.2em;
  text-align: center;
}

.cafe-quote {
  font-size: 2.8em;
  text-align: left;
  padding-right: 10rem;
  font-style: italic;
  color: #fde5cc;
}

.navbar-bottom {
  background-color: #3d0312;
  overflow: hidden;
  bottom: 0;
  position: fixed;
  width: 100%;
  color: #fde5cc;
}
.navbar-bottom a {
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color: #fde5cc;
  float: inline-end;
}
.navbar-bottom-intro {
  background-color: #3d0312;
  overflow: hidden;
  bottom: 0;
  position: sticky;
  width: 100%;
  color: #fde5cc;
}

.jaylon {
  width: 50%;
  height: 1%;
  margin-left: 300px;
}
figcaption {
  font-size: 1.2em;
  text-align: center;
  font-style: italic;
  color: #4e1a1a;
}
.quote {
  font-size: 1.5em;
  text-align: justify;
  padding-left: 10rem;
  font-style: italic;
  color: #4e1a1a;
}

.content {
  margin: 0 auto;
  max-width: 800px;
  text-align: left;
  color: #4e1a1a;
}
.content p {
  font-size: 1.2em;
  text-align: justify;
  padding-bottom: 40px;
}

.content h3 {
  font-size: 1.5em;
  text-align: left;
  padding: 3px;
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: bold;
}
footer {
  background-color: #3d0312;
  overflow: hidden;
  bottom: 0;
  color: #fde5cc;
  margin-top: -1rem;
}

footer a {
  color: #f1ebe4;
  text-decoration: none;
  font-size: 15px;
}

.table-wrap {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  list-style: inside;
  color: #4e1a1a;
}
#table-style {
  border-collapse: collapse;
  margin-bottom: 25px;
  box-shadow: 0px 0px 10px rgb(247, 214, 214);
}
#table-style thead tr {
  background-color: #3d0312;
  color: #fde5cc;
  text-align: center;
}
#table-style th td {
  padding: 10px 20px;
}
#table-style tbody tr {
  border-bottom: 1px solid #3d0312;
}
#table-style tbody tr:nth-child(even) {
  background-color: #e6d4c1;
}
#table-style tbody tr:last-of-type {
  border-bottom: 2px solid #3d0312;
}

.header {
    text-align: center;
  border: #2e0606 solid 1px;
  background-color: #5c0b21;
  color: #fde5cc;
  padding: 10px;
  margin-right: 10em;
  margin-left: 10em;
  border-radius: 10px;
}

/*eval container will have text explaining C.R.A.P with a ul list. List should be centered hiding the bullet list but underlining lis*/
.eval-container {
  font-size: 20px;

  text-align: center;
  padding-left: 3rem;
  padding-right: 3rem;
}

.eval-container ul {
  list-style-type: none;
  text-align: center;
  padding-bottom: 10px;
  font-size: 1.2em;
}

.eval-container span {
  font-size: x-large;
  font-style: bold;
}

.eval-container img {
  width: 95%;
  height: 75%;
  padding-bottom: 10px;
}

.website-compare {
  /*use css grid to line items side by side with respective text centerd*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
  text-align: center;
}
.website-compare a {
  text-decoration: none;
  display: block;
  margin-top: auto;
}
/*on hover*/
.website-compare a:hover {
  background-color: #2e0606;
  color: #ffcc99;
  transition: 0.3s;
}
