body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: "Roboto", sans-serif;
  background-color: #fde5cc;
  color: #3d0312;
}
#home-page {
  background-image: url("../images/cafe-home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

#itis {
  font-size: 15px;
  text-align: justify;
  padding: 3px;
  color: #fde5cc;
}

#about-page {
  overflow: auto;
  justify-content: left;
}

#contract-page {
  overflow: hidden;
  font-size: 15px;
  text-align: justify;
}

#container {
  position: relative;
  min-height: 100vh;
}
#content-wrap {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.section-1 {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: fit-content;
}
.section-1 input {
  border: none;
  border-bottom: #2e0606 solid 1px;
  background-color: transparent;
}
select {
  border: none;
  border-bottom: #2e0606 solid 1px;
  background-color: transparent;
}
/*Whenhovering over reason, highlight it with animation*/
select:hover {
  background-color: #2e0606;
  color: #ffcc99;
  transition: 0.3s;
}

.form-container {
  padding: 1rem;
}

.btn {
  background-color: #5c0b21;
  color: #f3dfc8;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn:hover {
  background-color: #2e0606;
  color: #f3dfc8;
  transition: 0.3s;
}

.dropdown-item {
  color: #f3dfc8;
}
.dropdown-item:hover {
  background-color: #2e0606;
  color: #ffcc99;
  transition: 0.3s;
}

/*when hovering over links, links turn colors with an animation.*/
.navbar-top a:hover {
  background-color: #2e0606;
  color: #ffcc99;
  transition: 0.3s;
}

.navbar-top a.current {
  color: #ffcc99;
}


.cafe-quote {
  font-size: 2.8em;
  text-align: left;
  padding-right: 10rem;
  font-style: italic;
  color: #fde5cc;
}

.navbar-bottom {
  /*place at bottom of screen*/
  width: 100%;
  background-color: #3d0312;
  overflow: hidden;
  z-index: 1;
  color: #fde5cc;
}
.navbar-bottom a {
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color: #fde5cc;
  float: inline-end;
}
.navbar-bottom-intro {
  background-color: #3d0312;
  overflow: hidden;
  bottom: 0;
  position: sticky;
  width: 100%;
  color: #fde5cc;
}

figcaption {
  font-size: 1.2em;
  text-align: center;
  font-style: italic;
  color: #4e1a1a;
}
.quote {
  font-size: 1.5em;
  text-align: justify;
  padding-left: 10rem;
  font-style: italic;
  color: #4e1a1a;
}

.content {
  margin: 0 auto;
  max-width: 800px;
  text-align: left;
  color: #4e1a1a;
}
.content p {
  font-size: 1.2em;
  text-align: justify;
  padding-bottom: 40px;
}

.content h3 {
  font-size: 1.5em;
  text-align: left;
  padding: 3px;
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: bold;
}
footer {
  background-color: #3d0312;
  overflow: hidden;
  bottom: 0;
  color: #fde5cc;
}

footer a {
  color: #f1ebe4;
  text-decoration: none;
  font-size: 15px;
}

.table-wrap {
  margin-left: auto;
  margin-right: auto;
  list-style: inside;
  color: #4e1a1a;
}
.table-style {
  border-collapse: collapse;
  margin-bottom: 25px;
  box-shadow: 0px 0px 10px rgb(247, 214, 214);
  border: #2e0606 solid 5px;
}
.table-style thead tr {
  background-color: #3d0312;
  color: #fde5cc;
}
.table-style th td {
  padding: 10px 20px;
}
.table-style tbody tr {
  border-bottom: 1px solid #3d0312;
}
.table-style tbody tr:nth-child(even) {
  background-color: #e6d4c1;
}
.table-style tbody tr:last-of-type {
  border-bottom: 2px solid #3d0312;
}

.header {
  text-align: center;
  border: #2e0606 solid 1px;
  background-color: #5c0b21;
  color: #fde5cc;
  padding: 10px;
  margin-right: 10em;
  margin-left: 10em;
  border-radius: 10px;
}


.website-compare {
  /*use css grid to line items side by side with respective text centerd*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.website-compare a {
  text-decoration: none;
  display: block;
  margin-top: auto;
}
/*on hover*/
.website-compare a:hover {
  background-color: #2e0606;
  color: #ffcc99;
  transition: 0.3s;
}
.filescript h2 {
  text-align: center;
}
/*<div class="number-guessing js-hide">
      <!-- number guessing game has text that tells you if too high and a number textbox to put your answer. cancel button at the end-->
      <h2 class="guess-text">Guess a number between 1-50</h2>
      <input type="number" id="guess-input" placeholder="Enter your guess" />
      <button id="guess-button">Guess</button>
    </div>*/
  #guess-input {
    width: 100px;
    /*move to center of screen*/
    margin: 0 auto;
    margin-top: 10px;
    margin-left: 30rem;
    border: #2e0606 solid 1px;
  }
  .number-guessing button {
    background-color: #5c0b21;
    color: #fde5cc;
    padding: 6px 10px;
    border: none;
    border-radius: 20px;
  }
  .add-instrument {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    border: #2e0606 solid 1px;
  }
  .add-instrument button{
    background-color: #5c0b21;
    color: #fde5cc;
    padding: 6px 10px;
    border: none;
    border-radius: 20px;
  }
  .view-instruments {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    border: #2e0606 solid 1px;
  }
  .view-instruments button{
    background-color: #5c0b21;
    color: #fde5cc;
    padding: 6px 10px;
    border: none;
    border-radius: 20px;
  }
  .view-instruments table {
    /* center */
    margin: 0 auto;
    
  }
.filescript-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: #2e0606 solid 1px;
  border-radius: 10px;
  padding: 10px;
  background-color: #f1ebe4;
}
.fs-button {
  background-color: #5c0b21;
  color: #fde5cc;
  border-radius: 10px;
  padding: 10px;
}
/*on hover change the text of the specific button while making text glow*/
.fs-button:hover {
  background-color: #2e0606;
  color: #ffcc99;
  transition: 0.3s;
}

.reaction-button {
  /*buttons are small circles in rows*/
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: #2e0606 solid 1px;
  background-color: #f1ebe4;
  color: #5c0b21;
  /*put in a row*/
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /*center*/
  margin: auto;
}
.js-hide {
  display: none;
}
.rock-paper-scissors {
  text-align: center;
  margin-top: 10px;
}
.green {
  background-color: #0c6614;
  border: #ffcc99 solid 1px;
}
.red {
  background-color: #d82561;
  border: #ffcc99 solid 1px;
}
.calc-container {
  margin: auto;
  width: fit-content;
}
.calculator-shell {
  background-color: #3d0312;
  color: #fde5cc;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}
.calc-screen {
  background-color: #f1ebe4;
  color: #5c0b21;
  border-radius: 10px;
  padding: 5px;
  text-align: right;
  font-size: 1.5em;
}
.calc-button {
  background-color: #5c0b21;
  height: 50%;
  color: #fde5cc;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  border: #2e0606;
}
.calc-button:hover {
  background-color: #2e0606;
  color: #ffcc99;
  transition: 0.3s;
}
a {
  text-decoration: none;
  color: #4e1a1a;
  /*make bold*/
  font-weight: bold;
}
a:hover {
  color: #ffcc99;
  background-color: #3d0312;
  border-radius: 10px;
  padding: 10px;
  transition: 0.3s;
}
.calculator-fcc {
  background-color: #3d0312;
  color: #fde5cc;
  padding: 10px;
  border-radius: 10px;
  /*center to middle*/
  margin: 20px auto;
  width: 30%;

}
.calc-fcc-screen {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background-color: #eedcc7;
  color: #5c0b21;
  text-align: right;
  font-size: 3em;
  
}
.calc-fcc-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 10px;
  grid-gap: 2px;
}
.calc-fcc-buttons button {
  background-color: #5c0b21;
  color: #fde5cc;
  border-radius: 10px;
  padding: 10px;
  border: #2e0606;
}
.calc-fcc-buttons button:hover {
  background-color: #2e0606;
  color: #ffcc99;
  transition: 0.5s;
}

.array-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: #2e0606 solid 1px;
  border-radius: 10px;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
  width: 50%;
  background-color: #f1ebe4;
}
.array-buttons button {
  border-radius: 20px;
  border: #2e0606;
}
#array-table {
  margin: auto;
  width: 50%;
}

.carousel-container{
  width: 50%;
  margin: auto;
  border: #2e0606 dotted 2px;
  border-radius: 10px;
  padding: 10px;
  background-color: #3d0312;
}
.slide-active {
  background-color: #f8cc9b;
  color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  font-size: 1.5em;
  animation: fadein 1s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.slide-active img {
  width: 580px;
  height: 480px;
}
.slide-hidden {
  /*img is hidden*/
  display: none;
}

.slide-button {
  /*buttons are small circles*/
  border-radius: 20px;
}
.slide-button:hover {
  background-color: #831d1d;
  border:#ffcc99 1px solid;
  color: #fab875;
  transition: 0.3s;
}