<footer class="mt-auto">
    <div class="container">
        <p class="copyright">
            <a href="carringtoncaringcorp.com/index.html">
                Designed by Carrington's Caring Corp. &copy;2022.</a>
        </p>

        <a href="https://www.freecodecamp.org/jj_phoenix">FreeCodeCamp</a>
        |
        <a href="https://github.com/nix24">Github</a>
        |
        <a href="https://nix24.github.io/">Github.io</a>
        |
        <a href="https://www.codecademy.com/profiles/JaylonC">CodeAcademy</a>
        |
        <a href="https://www.linkedin.com/in/jaylon-carrington-07b924211/">LinkedIn</a>
        |
        <a href="https://jsfiddle.net/user/JayJ/fiddles/">JSFiddle</a>
        |
        <a href="https://webpages.charlotte.edu/jcarrin4/">Charlotte.edu</a>
        <hr>
        <p>
            <a href="https://validator.w3.org/check?uri=referer">
                <img src="images/button_validation_html5.png" width="88" height="31" alt="Link to HTML validator" />
            </a>
            |
            <a href="https://jigsaw.w3.org/css-validator/check/referer">
                <img style="border: 0; width: 88px; height: 31px"
                    src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!" />
            </a>
        </p>
    </div>
</footer>