<header>
    <nav style="background-color: #3d0312;" class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html">
                <img src="images/cat.png" width="30" height="30" class="d-inline-block align-top" alt="Logo" />
                Jaylon ITIS 3135
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Exercises
                        </a>
                        <ul style="background-color: #5c0b21; color: #f3dfc8;" class="dropdown-menu"
                            aria-labelledby="navbarDropdown">
                            <li>
                                <a class="nav-item  dropdown-item"
                                    href="exercise/Accessibility/Carrington-Activity_Accessibility.html">Accessibility
                                    Page</a>
                            </li>
                            <li>
                                <a class="nav-item  dropdown-item" href="project/art-site/intro.html">Art Site</a>
                            </li>
                            <li>
                                <a class="nav-item  dropdown-item" href="exercise\Activity11\Carrington-Activity11.html">Accordian (Act.12)</a>
                            </li>

                        </ul>

                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Activities #1-4
                        </a>
                        <ul style="background-color: #5c0b21; color: #f3dfc8;" class="dropdown-menu"
                            aria-labelledby="navbarDropdown">
                            <li><a class="nav-item  dropdown-item" href="index.html">Home</a>
                            </li>
                            <li><a class="dropdown-item" href="introduction.html">Intro</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li class="nav-item"><a class="dropdown-item" href="contract.html">contract</a></li>
                            <li class="nav-item"><a class="dropdown-item" href="form.html">form</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li class="nav-item"><a class="dropdown-item" href="tables.html">table</a></li>
                            <li class="nav-item"><a class="dropdown-item" href="evaluator.html">evaluator</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Activities #5-8
                        </a>
                        <ul style="background-color: #5c0b21; color: #f3dfc8;" class="dropdown-menu"
                            aria-labelledby="navbarDropdown">
                            <li><a class=" dropdown-item" href="filescript.html">Javascript buttons</a></li>
                            <li><a class="dropdown-item" href="polygon.html">Polygon</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="calculator_try.html">Calculator Part:1</a></li>
                            <li><a class="dropdown-item" href="calculator_fcc.html">Calculator Part:2</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="array.html">Arrays</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Activities #9-12
                        </a>
                        <ul style="background-color: #5c0b21; color: #f3dfc8;" class="dropdown-menu"
                            aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="slideshow.html">Slideshow</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>