html {
  scroll-behavior: smooth;
  
}
.jay-nav {
  /*purple navbar,*/
  background-color: #818bc5;
  /*when user scrolls down, navbar will stay visible*/
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}


.subject-heading {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

.project-cards {
  display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 200px;
  margin-top: -150px;
 
}

.card-img {
  width: 40%;
  border-radius: 30px;
  margin: 0 auto;
}
